@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .roboto-regular {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
}

.conteiner{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
    gap: 20px;
    padding-top: 190px;
    margin-top: 30px;
    position: relative;
    top: 120px;
    padding-bottom: 200px;
   .card {
    width: 320px;
    height: 370px;
    top: 685px;
    left: 607px;
    gap: 0px;
    opacity: 0px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: .3s ease-in-out;
      &:hover{
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      }
    img{
        width: 250px;
        height: 250px;
        object-fit: cover;
         
    }
    .btns{

        display: flex;
        align-items: center;
        justify-content: center;
        gap:30px;
         padding-top: 10px;

        svg{
            font-size:20px;
        }
        
        button{
            background:#fff !important;
            color:#000;
            border: none;
              &:hover{
                color: #46A358;
              }
        }
    }
    .title{
        text-align: start;
        padding-left: 20px;
        padding-top: 20px;
         h3{
            font-family: Cera Pro;
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            text-align: left;
            color: #3D3D3D;
         }
         p{
            font-family: Cera Pro;
            font-size: 18px;
            font-weight: 700;
            line-height: 16px;
            text-align: left;
            color: #46A358;
            padding-top: 10px;
         }
    }
   }
}